* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: "Inter", sans-serif; */
    /* font-weight: 400; */
    font-family: "Inter", sans-serif;
    height: 110vh;
    background-color: #000000;
    /* background-color: #121212; */
    color: white;

}
.detalles__pelicula{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(23,23,23,255);

    /* border: 1px solid rgb(0, 38, 255); */
}
.detalles__pelicula__iconos{
    display: flex;
    width: 10%;
    /* border: 1px solid red; */
    font-size: 2rem;

}
.detalles__pelicula__iconos a{
    color: white;
}


.contenedor__info{
    display: flex;
    width: 100%;
   height: 100%;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid red; */
    background-color: rgba(23,23,23,255);
}

.contenedor__img{
    display: flex;
    width: 75%;
    height: 13rem;
    margin-left: 2rem;
    /* border: 1px solid rgb(4, 0, 221); */

    object-fit: contain;
}
.contenedor__img img {
    width: 90%; 
    height: 11rem; 
    border-radius: 10px;
    
    /* border: 1px solid rgb(4, 0, 221); */
    
}
.info__General{
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    /* margin-left: 0.2rem; */
    flex-direction: column;

}
.info__General p{
    color: rgba(255, 255, 255, 0.719);
}
.general__superior{
    display:flex;
    width: 90%;
    height: 100%;
    line-height: 1.5rem;
    flex-direction: column;

    /* border: 1px solid yellow; */
}
.general__superior h3{
    font-size: 1.1em;
}
.general__superior p{
    font-size: 0.9em;
}
.general__inferior{
    display: flex;
    width: 90%;
    height: 100%;
    line-height: 1.8rem;
    margin-top: 1rem;
    /* border: 1px solid yellow; */
    flex-direction: column;

}
.general__inferior h3{
    font-size: 1.1em;

}
.general__inferior p{
    font-size: 0.9em;
}
.contenedor__pago{
    display: flex;
    width: 100%;
    height: 12rem;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.541);
    /* border: 1px solid red; */
}
.pago__datos__1,
.pago__datos{
    display: flex;
    width: 85%;
    height: 2.9rem;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid yellow; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.719);
}

.pago__datos h3{
    font-size: 1rem;
    font-weight:600;
}
.pago__datos p{
    
    font-weight:600;
}
.pago__datos__1{
    display: flex;
    justify-content: left;
    gap: 0.3rem;
    height: 2.9rem;
    border-bottom:none ;
}
.pago__datos__1 p{
    font-weight:600;

    color: white;
}
.pago__datos__1 h4{
    font-size: 0.9rem;
    font-weight:600;

}

.container__tarjeta{
    display: flex;
    width: 100%;
    height: 12rem;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    /* border: 1px solid rgb(0, 161, 22); */
}

.tarjeta__datos{
    display: flex;
    width: 85%;
    height: 4.5rem;
    margin-top: 0.5rem;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #272727;
}

.estado__pago{
    display: flex;
    width: 85%;
    height: 2.6rem;
    justify-content: space-between;
    /* border: 1px solid blue; */
    background-color: #381818;
    border-radius: 10px;
    align-items: center;
    margin-top: 0.8rem;
}
.estado__pago h5{
    font-weight: lighter;
    margin-left: 1.2rem;

}
.estado__pago p{
    color: red;
    margin-right: 1.2rem;
}

.nombre__metodo{
    display: flex;
    width: 85%;
    height: 1.6rem;
    
    /* border: 1px solid blue; */

}
.nombre__metodo h3{
    font-weight: 560;
}
.tarjeta__mastercard{
    display: flex;
    width: 20%;
    height: 5rem;
    object-fit: contain;
    margin-left: 1.2rem;
    /* border: 1px solid blue; */


}
.tarjeta__mastercard img{
    height: 4.3rem;
}
.mastercard__credenciales{
    display: flex;
    width: 60%;
    height: 3rem;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    /* border: 1px solid rgb(168, 214, 0); */
    line-height: 1.5rem;

}
.mastercard__credenciales h5{
    font-size: 1rem;
}
.mastercard__credenciales p{
    font-size:0.8rem;
}
/* .icono__mastercard{
    display: flex;
    width: 15%;
    height: 5rem;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(168, 214, 0);

}
.icono__mastercard i{
    font-size: 2.2rem;
    color: red;
} */
.radio-button {
    /* position: absolute; */
    /* right: 20px; */
    cursor: pointer;
    display: flex;
    /* width: 20%;
    height: 5rem; */
    align-items: center;
    justify-content: center;
    margin-right: 1.3rem;
}

.radio-button input {
    /* position: absolute; */
    opacity: 0;
    cursor: pointer;
}


.radio-button .checkmark {
    position: relative;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 1.8px solid red; 
    display: inline-block;
    box-sizing: border-box;
    justify-content: center;
}


.radio-button input:checked + .checkmark::after {
    content: "";
    position: absolute;
    top: 0.6rem;
    left: 0.61rem;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: red; 
    border-radius: 50%;
}

.boton__reservacion a{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top:2rem;
    /* border: 1px solid red; */
    text-decoration: none;
}
.boton__reservacion button{
    background-color: red;
    color: white;
    width: 86%;
    font-size: 0.8rem;
    padding: 10px 20px;
    border-radius: 0.6rem;
    border-style: none;
    /* border: 1px solid yellow; */
}
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
}