
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Inter", sans-serif;
    /* font-weight: normal; */
    background-color: #888;
    background-color: #121212;
    color: white;

}
.header__perfil{
    /* border: 1px solid rgb(157, 255, 0); */
    display: flex;
    height: 10vh;
    box-sizing: border-box;
    justify-content:space-evenly;
    align-items: center;
}
.header__perfil__foto{
    display: flex;
    /* border: 1px solid red; */
    width: 3.1rem;
    height: 3.1rem;
    margin-left: 1rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5rem;
}

.header__perfil__foto img{
    display: flex;
   width: 4.5rem;
    height: 6.5rem;
    /* border: 1px solid rgb(180, 218, 43); */
   
}

.header__texto__bienvenida{
    display: flex;
    flex-direction: column;
    height: 4rem;
    margin-top: 1rem;
    justify-content: center;
    /* border: 1px solid rgb(0, 255, 55); */
    
}
.header__texto__bienvenida h3{
    
    font-size:0.999rem;
    line-height:1.9rem
}
.header__texto__bienvenida h4{
    color: rgba(255, 255, 255, 0.74);
    font-weight: 100;
}

.header__icono__notificacion{
    display: flex;
    width: 2.3rem;
    height: 2.3rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.39);
    margin-right: 1rem;
    margin-top: 0.8rem;

    border-radius: 0.5rem;
    
}
.header__icono__notificacion i{
    font-weight: lighter;
    color: red;
    margin-top: 0.3rem;

}

.header__buscador{
    width: 85%; 
    display: flex;
    height: 3.1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto; 
    border-radius: 0.5rem; 
    
    /* border: 1px solid #d4cece;  */
    /* border: 1px solid rgb(187, 255, 0); */
} 


.header__buscador input {
    width: 100%;
    height: 2.9rem;
    padding: 10px 2.8rem; 
    font-size: 14px;
    border-radius: 0.5rem; 
    outline: none;
    background-color: #1d1d1d; 
    color: #ccc; 
    border-style: none;

    /* border: 1px solid red; */
    
} 

.header__buscador input::placeholder {
    color: #aaa;
}
.header__buscador i{
    display: flex;
    position: absolute;
    left: 1rem;
    font-size: 1.35rem;
    color:rgba(255, 255, 255, 0.555);
}

/*ACTIVACION BUSCADOR INFERIOR*/

.focused-container {
    border: 2px solid #f50000 ;
    transition: background-color 0.3s ease;
    
}
.focused-lupita {
    color: red;
}

.estrenos2,
.estrenos{
    display: flex;
    width: 100%;
    height: 1.7rem;
    margin-top: 1rem;
    /* margin-left: 1rem; */
    /* border: 1px solid red; */
    align-items: center;

    /* gap: 10rem; */
    justify-content: space-around;
}
.estrenos__text2,
.estrenos__text{
    display: flex;
    margin-right: 1.1rem;
    /* border: 1px solid rgb(200, 255, 0); */
}
.estrenos__texto2,
.estrenos__texto{
    display: flex;
    margin-left: 4rem;
    color: red;
    margin-top:0.4em ;
    
}
.estrenos2{
    margin-top: 2rem;
    /* border: 1px solid rgb(200, 255, 0); */

}
/*carrusel*/

.main__carrusel {
     /* margin-top: 0.7rem; */
    display: flex;
    width: 100%;
    height: 30rem;
    overflow-x: auto;
    /* align-items: center; */
    padding: 0.5rem;
    gap: 2rem;
    scrollbar-width: none; 
    border: 1px solid rgb(255, 0, 234);
    flex-direction: row;
    object-fit: contain;
    /* margin-left: 0.1rem; */
    /* scroll-behavior: smooth;  */
    /* scroll-snap-type: x mandatory; */

}


/*REVISAR*/



.nombre__genero__principal{
    display: flex;
    width:100%;
    /* margin-top: 20rem; */
    flex-direction: column;
    align-items: center;
    /* border: 1px solid rgb(0, 204, 255); */
}

/*PARTE FUNCIONAL*/
/*PARTE FUNCIONAL*/
/*PARTE FUNCIONAL*/

/*PARTE FUNCIONAL*/

.swiper-container {
    display: flex;
    width: 100%;
    height: 23.3rem;
    margin-top: 1rem;
    /* border: 1px solid rgb(200, 255, 0); */
    position: relative;
  }
  .swiper-pagination{
    /* display: flex; */
    color: white;
   /* border: 1px solid red; */
    /* margin-bottom: 16.8rem; */
   /* border: 1px solid rgb(0, 255, 21); */
   height: 1rem;
   margin-bottom: -5rem;
   /* margin-top: 20rem; */
   

 }

  .swiper-slide {
    display: flex;
    width: 15rem;
    /* justify-content: center; */
    /* align-items: center; */
    transition: all 0.3s ease;
    /* border: 1px solid rgb(30, 255, 0); */
    

  }
  
  .swiper-slide-active {
    
    transform: scale(1.2);
    z-index: 1;
    color: white;
   
    /* border: 1px solid rgb(225, 0, 255); */

  }
  
  .movie-info-center {
   
    
    left: 0;
    right: 0;
    text-align: center;
    
    line-height: 1.7rem;
    /* border: 1px solid rgb(251, 255, 0); */

  }
  
  .pelicula__imagen {
    width: 100%;
    height: 21rem;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 1rem;
     /* border: 1px solid red;  */
  }
  
  .nombre__genero__principal {
    display: none;

  }
  .contenedor__pelicula__imagen {
    margin-top: 0.8rem;
    margin-left: -2.38rem;
    width: 14rem;  
    height: 18.5rem;  
   /* border: 1px solid red; */
  } 
 



.swiper-container .swiper-pagination-bullet  {
    width: 7px;
    height: 7px;
    background-color: white; 
    opacity: 1;
    margin: 0 2px !important;
    
   
}

.swiper-container .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    background-color:red; /* Color rojo para el punto activo */
   
}


.swiper-container .swiper-pagination-bullet-active {
    width: 25px;
    height: 7px;
    border-radius: 10px;
    
}
/*FIN PARTE FUNCIONAL*/



/*CARRUSEL COMING*/


.carrusel__coming{
    margin-top: 0.6rem;
    display: flex;
    width: 100%;
    overflow-y: scroll;
    height: 12rem;
    /* align-items: center; */
    padding: 0 0.8rem;
    gap: 1rem;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; 
    /* border: 1px solid rgb(68, 0, 255); */
    flex-direction: column;
    align-items: center;
    
    /* object-fit: contain; */
}
.movie-item{
    display: flex;
    width: 90%;
    /* height: 5rem; */
    flex-direction: column;
    gap: 2rem;
    /* border: 1px solid rgb(255, 0, 234); */
    

    }
/* .movie_image_coming{
    display: flex;
    width: 100%;
    height: 10rem;
    box-sizing: border-box;
    flex-direction: row;
} */
.movie_container {
    display: flex;
    /* width: 90%; */
    height: 6.1rem;
    background-color: #121212;
    border-radius: 1.2rem;
    /* border: 1px solid rgb(0, 255, 64); */
    background-color: #272727;
    align-items: center; 
}

.movie_image_coming {
    width: 25%;
    height: 5.2rem;
    border-radius: 1rem;
    margin-right: 1rem; 
    margin-left: 0.7rem;
    /* border: 2px solid yellow; */
    object-fit: cover;
    
    /* height: auto; */
}

.movie_texts {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    margin-left: 0.1rem;
    /* border: 2px solid yellow; */
    margin-bottom: 1.5rem;

}

.movie_texts p{
    font-size: 0.8rem;

    /* color: red; */
}
/*MENU INFERIOR*/
.menu {
    background-color: #000000;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1rem 1rem 0 0;
    /* border: 1px solid #888; */
    border-top:1px solid  #888;
    z-index: 1000; /* Añadido z-index */
  }
  
  .menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    text-align: center;
  }
  
  .menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu a:hover{
    scale: 1.1;
    color: red;
    cursor: pointer;

  }
  .menu i {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .menu .active a {
    color: white;
  }
  
  main {
    padding-bottom: 7rem;  
}
html, body {
    overflow-x: hidden;   
    margin: 0;
    padding: 0;
    /* height: 100%;   */
}

.no-results-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;

    color: #333;
    display: none;
}
.no-results-message h1{
    display: flex;
    width: 70%;
    justify-content: center;
}