
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* background-color: #000000; */
    background-color: #121212;
    color: white;

}
.header__perfil{
    /* border: 1px solid rgb(157, 255, 0); */
    display: flex;
    height: 10vh;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
}
.header__perfil__foto{
    display: flex;
    /* border: 1px solid red; */
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5rem;
}

.header__perfil__foto img{
    display: flex;
   width: 4.5rem;
    height: 6.5rem;
    border: 1px solid rgb(180, 218, 43);
   
}

.header__texto__bienvenida{
    display: flex;
    flex-direction: column;
    height: 4rem;
    justify-content: center;
    /* border: 1px solid red; */
    
}

.header__icono__notificacion{
    display: flex;
    font-size: 2rem;
    align-items: center;
    /* border: 1px solid red; */

}

.header__buscador{
    /* border: 1px solid red; */
    width: 300px; 
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto; 
}


.header__buscador input {
    width: 100%;
    padding: 10px 15px; 
    font-size: 16px;
    border: 1px solid #888; 
    border-radius: 20px; 
    outline: none;
    background-color: #1d1d1d; 
    color: #ccc; 
}

.header__buscador input::placeholder {
    color: #aaa;
}

.estrenos{
    margin-top: 0.5rem;
    margin-left: 1rem;
}
/*carrusel*/
.main__carrusel {
    margin-top: 0.7rem;
    display: flex;
    height: 25.5rem;
    width: 98%;
    overflow-x: scroll;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; 
    /* border: 1px solid rgb(68, 0, 255); */
    flex-direction: row;
    object-fit: contain;
    margin-left: 0.1rem;
}

/* .carrusel__img{
    
    border: 1px solid red;
    height: 10rem; 
    flex: 0 0 calc(70% - 0.25rem); 
    scroll-snap-align: start;

    
}
.carrusel__img img {
    width: 100%;
    height: 100%;
    object-fit:contain
} */

.carrusel-indicators {
    text-align: center;
    margin-top: 0.6rem;
}

.indicator {
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 0.2rem;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: red;
}

.pelicula__imagen{
    display: flex;
    height: 22rem;
    border-radius: 0.5rem;
   margin-bottom: 0.5rem;
    /* width: 100%; */
    /* object-fit: contain; */
    
}
/*CARRUSEL COMING*/
.carrusel__coming{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    overflow-y: scroll;
    height: 15rem;
    /* align-items: center; */
    padding: 0 0.8rem;
    gap: 1rem;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; 
    /* border: 1px solid rgb(68, 0, 255); */
    flex-direction: column;
    
    /* object-fit: contain; */
}
/* .movie_image_coming{
    display: flex;
    width: 100%;
    height: 10rem;
    box-sizing: border-box;
    flex-direction: row;
} */
.movie_container {
    display: flex;
    width: 100%;
    height: 10rem;
    background-color: #121212;
    border-radius: 1rem;
    /* border: 1px solid rgb(0, 255, 64); */
    align-items: center; 
}

.movie_image_coming {
    width: 26%;
    border-radius: 1rem;
    margin-right: 1rem; 
    margin-left: 0.7rem;
    /* height: auto; */
}

.movie_texts {
    display: flex;
    flex-direction: column;
}


/*MENU INFERIOR*/
.menu {
    background-color: #000000;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1rem 1rem 0 0;
    border: 1px solid #888;
    z-index: 1000; /* Añadido z-index */
  }
  
  .menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    text-align: center;
  }
  
  .menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu a:hover{
    scale: 1.1;
    color: red;
    cursor: pointer;

  }
  .menu i {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .menu .active a {
    color: white;
  }
  
  main {
    padding-bottom: 10rem; /* Ajusta según la altura de tu menú */
}
html, body {
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que el contenido ocupe toda la altura */
}


